html {
    background-color: #140005;
    @apply text-orange-500;
}

.glow-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    text-shadow:
            0 0 5px currentColor,
            0 0 10px currentColor,
            0 0 20px currentColor,
            0 0 30px currentColor,
            0 0 40px currentColor,
            0 0 50px currentColor,
            0 0 60px currentColor;
    z-index: -1;
}

#globalLoader {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* @media (min-width: 1536px)
.container {
    max-width: 1536px;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
